.overview {
    background: linear-gradient(to right, $color-5 0%, $color-5 50%, $color-5 50%, $color-5 50%, $color-5 100%);

    .container {
        width: 690px;
        height: 470px;

        .grid {
            padding-left: 49px;

            .various-text-grid {
                grid-column-gap: 42px;
                grid-row-gap: 40px;

                .various-text.three {
                    margin-top: -1px;
                    padding-right: 0;
                }
            }
        }
    }

    .image-template {
        display: none;
    }
}
