.overview {
    background-color: $color-5;

    .container {
        width: 690px;

        .grid {
            padding-left: 49px;

            .various-text-grid {
                grid-column-gap: 42px;
                grid-row-gap: 40px;

                .various-text.three {
                    padding-right: 0;
                }
            }
        }
    }

    .image-template {
        display: none;
    }
}
