img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex {
    display: flex;
    justify-items: flex-start;
}

.container {
    display: flex;
    width: 1000px;
}

.album {
    position: relative;
    height: 574px;
    padding-top: 53px;
    background-color: $color-2;

    .albumgrid {
        display: grid;
        grid-template-areas: 'singleimage h1' 'singleimage rightside';
        grid-template-rows: 35px 398px;
        column-gap: 30px;

        h1 {
            grid-area: h1;
            order: 2;
            width: 113px;
            margin: 0;
            transform: translate(0, -4px);
            color: $color-9;
            font-family: 'Montserrat', sans-serif;
            font-size: 29px;
            font-weight: bold;
        }

        .singleimage {
            grid-area: singleimage;
            order: 1;
            width: 622px;
            height: 408.76px;
        }

        .rightside {
            grid-area: rightside;
            order: 3;
            width: 362px;

            .images {
                display: grid;
                grid-template-areas: 'poto1 poto2 poto3' 'poto4 poto5 poto6' 'poto7 poto8 poto9';
                grid-template-columns: 107.2px 107.2px 107.2px;
                grid-template-rows: 101px 101px 101px;
                width: 362px;
                margin-top: 28px;
                row-gap: 21px;
                column-gap: 15px;

                .color {
                    background-color: $color-5;
                }

                @for $i from 1 to 9 {
                    .poto#{$i} { grid-area: poto + $i};
                }

                div:hover {
                    border: 7px solid $color-10;
                    border-radius: 4px;
                    box-shadow: inset 0 0 13px rgba(0, 0, 0, .7);
                }
            }
        }
    }
}
