.container {
    width: 592px;
}

.album {
    height: 574px;

    .albumgrid {
        display: flex;
        display: grid;
        grid-template-areas: 'h1' 'singleimage' 'rightside';
        grid-template-rows: 35px 296px 105px;
        row-gap: 24.4px;
        margin-top: -5px;
        column-gap: 30px;

        h1 {
            grid-area: h1;
            width: 591px;
            margin: 0;
        }

        .singleimage {
            grid-area: singleimage;
            width: 591px;
            height: 296px;
            margin-top: -7px;
        }

        .rightside {
            grid-area: rightside;
            order: 3;
            width: 591px;
            margin-top: -7px;

            .images {
                display: grid;
                grid-template-areas: 'poto1 poto2 poto3 poto4 poto5';
                grid-template-columns: repeat(5, 107px);
                grid-template-rows: 101px;
                width: 100%;
                margin-top: 0;
                row-gap: 21px;
                column-gap: 14px;

                .color {
                    background-color: $color-5;
                }

                .poto1 {
                    grid-area: poto1;
                }

                .poto2 {
                    grid-area: poto2;
                }

                .poto3 {
                    grid-area: poto3;
                }

                .poto4 {
                    grid-area: poto4;
                }

                .poto5 {
                    grid-area: poto5;
                }

                div:hover {
                    border: 7px solid $color-10;
                    border-radius: 4px;
                    box-shadow: inset 0 0 13px rgba(0, 0, 0, .7);
                }
            }
        }
    }
}
